@using OnlineTicariOtomasyon.Models.Classes
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<a href="/Category/Add" class="btn btn-primary" style="margin-left:16px;margin-top:16px"> Yeni Kategori</a>
<br />
<br />
<table id="table_categories" class="table table-bordered table-hover" style="margin-top:16px; margin-left:16px; margin-right:16px">
    <thead>
        <tr>
            @*<th class="col-lg-1">Id</th>*@
            <th>Name</th>
            <th class="col-lg-1">Edit</th>
            <th class="col-lg-1">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                @*<td>@c.CategoryId</td>*@

                <td>@c.Name</td>
                <td><a href="/Category/Update/@c.CategoryId" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/Category/Delete/@c.CategoryId" class="btn btn-danger">Sil</a></td>
            </tr>
        }

    </tbody>
</table>
<br />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


<script>

    $('#table_categories').dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }});

</script>
