
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ticari Otomasyon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Project Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="~/Content/theme/weblogin/css/style.css" rel="stylesheet"  media="all"/>
    <link rel="stylesheet" href="~/Content/theme/weblogin/css/font-awesome.css"> 

    <link href="~/Content/theme/weblogin/css/popup-box.css" rel="stylesheet" type="text/css" media="all" /> 

</head>
<body>

    <section class="register">
        <div class="header">
            <div class="logo">
                <a href="#">Ticari Otomasyon</a>
            </div>
            <div class="social">
                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </div>
            <div class="clear"></div>
        </div>

        <div class="register-full">
            <div class="register-left">
                <div class="register">
                    <h1>Ticari Otomasyon İle</h1>
                    <h2>Süreçlerinizi Dijital Ortama Taşıyın</h2>
                    <p>
                        Üretim, Lojistik, Satış ve Raporlama süreçlerinizi güncel teknolojiler ve kullanıcı dostu ekranlar ile sanal ortama aktarın
                    </p>
                    <div class="content3">
                        <ul>
                            <li><a class="" href="#">İş Ortaklarımız</a></li>
                            <li><a class="read" href="#">Ürünlerimiz</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="register-right">
                <div class="register-in">
                    <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog2">Aramıza Katılın »</a>
                </div>
                <div class="register-in middle">
                    <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog">Müşteri Girişi »</a>
                </div>
                <div class="register-in">
                    <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog1">Yetkili Girişi »</a>
                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
        </div>
        <p class="agile-copyright">© @DateTime.Now.Year Project. Tüm Hakları Saklıdır. </p>
    </section>
    <div class="pop-up">
        <div id="small-dialog" class="mfp-hide book-form">

            @Html.Partial("CustomerLogin", "Login")

        </div>
    </div>
    <div class="pop-up">
        <div id="small-dialog1" class="mfp-hide book-form">

            <div class="login-form login-form-left">
                <div class="agile-row">
                    <h3>Yetkili Girişi</h3>
                    <div class="clear"></div>
                    <div class="login-agileits-top">
                        <form action="#" method="post">
                            <input type="email" class="email" name="Username" Placeholder="Kullanıcı Adınız.." required="" />
                            <input type="password" class="password" name="Password" Placeholder="Şifreniz.." required="" />
                            <input type="submit" value="Giriş Yap">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="pop-up">
        <div id="small-dialog2" class="mfp-hide book-form">

            @Html.Partial("Register","Login")

        </div>
    </div>
    <script src="~/Content/theme/weblogin/js/jquery-2.1.4.min.js"></script>
    <script src="~/Content/theme/weblogin/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>

</body>
</html>