
<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Müşteri</h3>
        <div class="login-agileits-top">
            @using(Html.BeginForm("Register", "Login", FormMethod.Post)) {
                <input type="text" class="name" name="Name" Placeholder="Adınız.." required="" />
                <input type="text" class="surname" name="Surname" Placeholder="Soyadınız.." required="" />
                <input type="text" class="phone" name="Phone" Placeholder="Telefon numaranız.." required="" />
                <input type="text" class="address" name="Address" Placeholder="Şehir.." required="" />
                <input type="email" class="email" name="Mail" Placeholder="Mail adresiniz.." required="" />
                <input type="password" class="password" name="Password" Placeholder="Şifreniz.." required="" />
                <input type="submit" value="Kayıt Ol">
            }
        </div>
    </div>
</div>
