@model OnlineTicariOtomasyon.Models.Classes.Message
@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<br />
<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="~Content/theme/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link rel="stylesheet" href="" ~ /Content/theme/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="" ~ /Content/theme/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="" ~ /Content/theme/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini">


    <section class="content">

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-3">


                    <div class="card">

                        <div class="card-body p-0">

                            <ul class="nav nav-pills flex-column">

                                <li class="nav-item active">

                                    <a href="/CustomerPanel/MyMessages" class="nav-link">

                                        <i class="fas fa-inbox"></i> Gelen Kutusu
                                        <span class="badge bg-primary float-right" style="color:white">@ViewBag.inboxCount</span>
                                    </a>

                                </li>

                                <li class="nav-item">

                                    <a href="/CustomerPanel/SendMessages" class="nav-link">

                                        <i class="far fa-envelope"></i> Gönderilen Mesajlar
                                        <span class="badge float-right" style="background-color:darkolivegreen;color:white">@ViewBag.sendCount</span>
                                    </a>

                                </li>

                                @*<li class="nav-item">

                    <a href="#" class="nav-link">

                        <i class="far fa-file-alt"></i> Taslak
                        <span class="badge bg-warning float-right" style="color:white">5</span>
                    </a>

                </li>*@

                                <li class="nav-item">

                                    <a href="/CustomerPanel/DeletedMessages" class="nav-link">

                                        <i class="far fa-trash-alt"></i> Çöp Kutusu
                                        <span class="badge bg-danger float-right" style="color:white">@ViewBag.deletedCount</span>
                                    </a>

                                </li>

                            </ul>

                        </div>


                    </div>

                  

                </div>

                <!-- /.col -->

                <div class="col-md-9">

                    <div class="card card-primary card-outline">

                        <div class="card-header">

                            <h3 class="card-title">Yeni Mesaj</h3>

                        </div>

                        <!-- /.card-header -->
                        <form class="form-group" method="post">
                            <div class="card-body">

                                <div class="form-group">

                                    <input class="form-control" name="To" placeholder="Kime:">

                                </div>

                                <div class="form-group">

                                    <input class="form-control" name="Subject" placeholder="Konu:">

                                </div>

                                <div class="form-group">

                                    <textarea id="compose-textarea" name="Content" class="form-control" style="height: 200px"></textarea>

                                </div>

                                <div class="float-right">

                                    <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Gönder</button>
                                    <button type="button" class="btn btn-danger"><i class="fas fa-times"></i> İptal</button>

                                </div>
                                


                            </div>
                            
                        </form>
                        <!-- /.card-body -->

                        

                        <!-- /.card-footer -->

                    </div>

                    <!-- /.card -->

                </div>

                <!-- /.col -->

            </div>

            <!-- /.row -->

        </div><!-- /.container-fluid -->

    </section>
    <br />


    <script src="~/Content/theme/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>


    <script src="~/Content/theme/AdminLTE-3.0.4/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script src="~/Content/theme/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>


    <script src="~/Content/theme/AdminLTE-3.0.4/dist/js/demo.js"></script>


    <script src="~/Content/theme/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>


    <script>
$(function () {

    //Add text editor

    $('#compose-textarea').summernote()

  })</script>

</body>

</html>

