@using OnlineTicariOtomasyon.Models.Classes
@model List<CargoOperation>
@{
    ViewBag.Title = "CargoOperation";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<a href="/Cargo/AddOperation" class="btn btn-primary" style="margin-left:16px;margin-top:16px">Yeni Operasyon</a>
<br />
<br />
<table id="table_cargoOperations" class="table table-bordered table-hover" style="margin-top:16px; margin-left:16px; margin-right:16px">
    <thead>
        <tr>
            <th>Description</th>
            <th>Date</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Description</td>
                <td>@c.Date.ToString("dd/MM/yyyy hh:mm")</td>

            </tr>
        }

    </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


<script>

    $('#table_cargoOperations').dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }
    });

</script>