
@{
    ViewBag.Title = "CategoryAndProductCountGraph";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>CategoryAndProductCountGraph</h2>

<div>
    <img src="@Url.Action("CategoryAndProductCountGraph","Graph")"/>
</div>