
@{
    ViewBag.Title = "ProductAndStockGraph";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<!DOCTYPE html>

<html lang="en">

<head>

    <title>Result Visualization</title>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>

        $(document).ready(function () {

            $.ajax({

                type: "POST",

                dataType: "json",

                contentType: "application/json",

                url: '@Url.Action("ProductAndStockGraph", "Graph",FormMethod.Post)',

                success: function (result) {
                    google.charts.load('current', {

                        'packages': ['corechart']

                    });

                    google.charts.setOnLoadCallback(function () {

                        drawChart(result.data);

                    });

                }

            });

        });



        function drawChart(result) {

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Name');

            data.addColumn('number', 'Stok Sayısı');

            var dataArray = [];



            $.each(result, function (i, obj) {

                dataArray.push([obj.Name, obj.Stock]);

            });

            data.addRows(dataArray);



            var columnChartOptions = {

                title: "Ürün - Stok Sutün Grafiği",

                width: 1000,

                height: 200,

                bar: { groupWidth: "20%" },

            };

            var lineChartOptions = {

                title: "Ürün - Stok Çizgi Grafiği",

                width: 1000,

                height: 200,

                bar: { groupWidth: "20%" },

            };

            var pieChartOptions = {

                title: "Ürün - Stok Dilim Grafiği",

                width: 1000,

                height: 200,

                bar: { groupWidth: "20%" },

            };



            var columnChart = new google.visualization.ColumnChart(document

                .getElementById('columnchart_div'));

            var lineChart = new google.visualization.LineChart(document

                .getElementById('linechart_div'));

            var pieChart = new google.visualization.PieChart(document

                .getElementById('piechart_div'));


            columnChart.draw(data, columnChartOptions);
            lineChart.draw(data, lineChartOptions);
            pieChart.draw(data, pieChartOptions);

        }

    </script>

</head>

<body>

    <div id="columnchart_div"></div>
    <div id="linechart_div"></div>
    <div id="piechart_div"></div>

    @*<a href="@Url.Action("PieChart")" class="btn btn-danger">Pie Chart</a>

    <a href="@Url.Action("ColumnChart")" class="active btn btn-primary">Column Chart</a>

    <a href="@Url.Action("LineChart")" class="btn btn-warning">Line Chart</a>*@

</body>

</html>