
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />

<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="code"/>
        <input type="submit" value="QR Kod Oluştur"/>
    }
    <br />
    @if (ViewBag.qrImage !=null)
    {
        <img src="@ViewBag.qrImage" alt="" style="width:400px;height:400px"/>
    }
</div>